* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 224, 224);
}

.homeheader {
  color: white;
  padding-top: 50px;
  text-align: center;
  background-color: rgb(43, 43, 43);
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.sub {
  font-size: 23px;
  padding: 50px;
  width: 70%;
  margin-inline: 15%;
  padding-bottom: 50px;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.nav-link {
  padding-block: 12px;
  padding-inline: 20px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  position: relative;
  color: white;
  border-bottom: 2px solid black;
  transition: border-bottom 0.3s;
}

.nav-link::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  margin: 0;
  background-color: gold;
  transition: width 0.15s ease;
}

.nav-link:hover::after {
  width: 80%;
  background-color: gold;
  transition: width 0.2s ease;
}

h2 {
  text-align: center;
  margin-block: 20px;
}

.logo {
  margin-inline: 35px;
  height: 32px;
}

.logo img {
  height: 32px;
  width: 100%;
}

#feedback {
  color: white;
  text-decoration: none;
  background-color: black;
  padding-inline: 20px;
  margin-inline: 10px;
  font-size: 18px;
  font-weight: bold;
  padding-block: 8px;
  border-radius: 50px;
}

.about-website {
  width: 100%;
  padding-inline: 25%;
  padding-top: 10px;
  font-size: 23px;
  line-height: 40px;
  background-color: white;
}

.about-website h2 {
  color: black;
}

.about-dev {
  width: 100%;
  padding-inline: 15%;
  padding-block: 10px;
  font-size: 23px;
  line-height: 40px;
  background-color: rgb(244, 244, 244);
}

.about-dev h2 {
  color: black;
}

.people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person {
  background-color: white;
  padding-inline: 2.5%;
  width: 27%;
  padding-bottom: 30px;
  border-radius: 20px;
  border: 0.17vw solid black;
}

.name {
  text-align: center;
  font-weight: bold;
}

.person p {
  font-size: 20px;
  line-height: 35px;
}

#feedback:hover {
  background-color: rgb(60, 60, 60);
}

#name {
  outline: none;
  border: 3px solid rgb(43, 43, 43);
  padding-inline: 2.5%;
  background-color: white;
  padding-block: 10px;
  font-size: 18px;
  border-radius: 50px;
  width: 43%;
  margin-bottom: 0px;
  transition: border 0.5s ease;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-block: 15px;
  line-height: 28px;
  font-size: 15px;
  margin-top: 40px;
}

.footer a {
  color: white;
  text-decoration: none;
  background-color: black;
}

.footer a:hover {
  color: gold;
  text-decoration: underline;
}

#name:focus {
  border: 3px solid rgb(240, 182, 9);
}

#cloaker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

#go {
  outline: none;
  border: 3px solid rgb(43, 43, 43);
  background-color: white;
  padding-block: 10px;
  font-size: 18px;
  border-radius: 50px;
  width: 5%;
  margin-bottom: 00px;
  transition: border 0.5s ease;
  margin-left: 1%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#go:hover {
  transform: scale(1.1);
}

#go:focus {
  border: 3px solid rgb(240, 182, 9);
}

#clform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clbtn {
  outline: none;
  border: 3px solid rgb(43, 43, 43);
  background-color: white;
  padding-block: 10px;
  font-size: 18px;
  border-radius: 50px;
  width: 9%;
  text-align: center;
  margin-bottom: 20px;
  transition: border 0.5s ease;
  margin-inline: 0.5%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.clbtn:hover {
  transform: scale(1.1);
}

.clbtn:focus {
  border: 3px solid rgb(240, 182, 9);
}

#go {
  background-color: white;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 5px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 14px;
  margin-inline: 6px;
  margin-block: 5px;
  width: 110px;
  background-color: gray;
  color: white;
  padding-inline: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  height: 110px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: 0.3s;
}

.game {
  position: relative;
}

.game::before {
  content: attr(name);
  position: absolute;
  top: 0;
  left: -150%;
  width: 90px;
  height: 80%;
  background-color: black;
  opacity: 0.6;
  padding-inline: 10px;
  padding-block: 10%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 14px;
  text-align: center;
}

.game:hover::before {
  left: 0;
}

h2 {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-block: 30px;
}

hr {
  border: none;
  outline: none;
  height: 3px;
  width: 70%;
  margin-inline: 15%;
  background-color: rgb(255, 255, 255);
}

.thumbnail {
  width: 100%;
  border-radius: 20px;
}

.htmlcourse {
  width: 100%;
  display: flex;
  padding-block: 50px;
  background-color: white;
  color: black;
}

.htmlcourse h2 {
  color: black;
}

.coursep {
  width: 50%;
  padding-left: 100px;
  padding-block: 30px;
}

.coursep button {
  padding-inline: 50px;
  padding-block: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
  font-weight: bold;
  width: 50%;
  margin-inline: 25%;
  margin-block: 30px;
}

.coursep button:hover {
  color: gold;
}

.coursep p {
  font-size: 22px;
  line-height: 40px;
}

.courseimg {
  width: 50%;
}

.courseimg img {
  width: 70%;
  margin-inline: 15%;
  margin-block: 6%;
}

.references {
  width: 100%;
}

.references h2 {
  color: black;
}

.coursepr {
  padding: 200px;
  padding-block: 30px;
}

.coursepr button {
  padding-inline: 50px;
  padding-block: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
  font-weight: bold;
  width: 50%;
  margin-inline: 25%;
  margin-block: 30px;
}

.coursepr button:hover {
  color: gold;
}

.coursepr p {
  font-size: 22px;
  line-height: 40px;
}

.courseimgr img {
  width: 50%;
  margin-inline: 25%;
  margin-bottom: 30px;
}
